<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elice-House</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header class="header">
      <div class="top">
        <div class="inner">
          <h1>
            <a href="/">
              <div class="logo"></div>
            </a>
          </h1>
          <div class="membership">
            <ul>
              <li><p>로그인</p></li>
              <li><p>회원가입</p></li>
            </ul>
          </div>
          <div class="basket">
            <button>장바구니</button>
          </div>
        </div>
      </div>
      <div class="bottom">
        <nav class="gnb">
          <ul>
            <li>
              <p>침실가구</p>
              <nav class="smenu">
                <div class="smenu_inner">
                  <ul>
                    <li><a href="">침대</a></li>
                    <li><a href="">매트리스/토퍼</a></li>
                    <li><a href="">화장대/콘솔/거울</a></li>
                    <li><a href="">서랍장/협탁</a></li>
                  </ul>
                </div>
              </nav>
            </li>
            <li>
              <p>옷장/수납장</p>
              <nav class="smenu">
                <div class="smenu_inner">
                  <ul>
                    <li><a href="">옷장/붙박이장</a></li>
                    <li><a href="">드레스룸/행거</a></li>
                  </ul>
                </div>
              </nav>
            </li>
            <li>
              <p>거실가구</p>
              <nav class="smenu">
                <div class="smenu_inner">
                  <ul>
                    <li><a href="">소파</a></li>
                    <li><a href="">거실테이블</a></li>
                    <li><a href="">거실장</a></li>
                  </ul>
                </div>
              </nav>
            </li>
            <li>
              <p>주방가구</p>
              <nav class="smenu">
                <div class="smenu_inner">
                  <ul>
                    <li><a href="">식탁/테이블</a></li>
                    <li><a href="">홈바/아일랜드식탁</a></li>
                    <li><a href="">식탁세트</a></li>
                    <li><a href="">식탁세트</a></li>
                    <li><a href="">주방수납</a></li>
                    <li><a href="">주방ACC</a></li>
                  </ul>
                </div>
              </nav>
            </li>
            <li>
              <p>서재가구</p>
              <nav class="smenu">
                <div class="smenu_inner">
                  <ul>
                    <li><a href="">책상/책장/ACC</a></li>
                    <li><a href="">서재의자</a></li>
                  </ul>
                </div>
              </nav>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
