<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elice-House</title>
    <!-- 파비콘 -->
    <link rel="icon" href="../public/assets/imgs/sofa.ico">
    <link rel="stylesheet" href="login.css" />
    <!-- Bootstrap CSS, JS CDN(콘텐츠 전송 네트워크) -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <!-- 유효성 검사 -->
    <script defer src="./login.js" type="module"></script>
  </head>
  <body>
    <!-- 최상위 컨테이너 -->
    <div class="container">
      <!-- 로그인 페이지 컨텐츠 컨테이너 -->
      <div class="login-container">
        <h2 id="login-head">로그인</h2>
        <!-- 로그인 폼 -->
        <!-- <form id="login-form" class="row g-3" onsubmit="validateLogin()"> -->
        <form id="login-form" class="row g-3">
          <div class="form-input-container">
            <div class="col-12">
              <label for="input-email" class="col-sm-2 col-form-label"
                >이메일</label
              >
              <input
                type="email"
                class="form-control"
                id="input-email"
                placeholder="이메일을 입력해주세요."
              />
            </div>
            <div class="col-12">
              <label for="input-password" class="col-sm-3 col-form-label"
                >비밀번호</label
              >
              <input
                type="password"
                class="form-control"
                id="input-password"
                placeholder="비밀번호를 입력해주세요."
                autocomplete="off"
              />
            </div>
          </div>

          <div id="btn-login-div" style="padding: 0">
            <button id=login-submit" type="submit" class="btn btn-primary" style="width: 180px; margin: 0 auto;">로그인</button>
          </div>
        </form>
        <div id="btn-cancel-div" >
          <button id="login-cancel" type="submit" class="btn btn-primary"style="width: 180px;">취소</button>
        </div>
        <div id="move-to-register-container" class="row">
          <p>아직 회원이 아니신가요?</p>
          <button id="move-register" class="btn btn-primary col-5" style="width: 180px;">회원가입</button>
        </div>
      </div>
    </div>
  </body>
</html>
