/*
'em' 단위 사용을 위해 최상위 요소로 작용할 .container에 font-size를 10px
따라서 1em = 10px.
*/

.container {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.login-container {
  display: inline-block;
  justify-content: center;
  width: 32vh;
  margin-top: 22vh;
}

#login-head {
  margin-bottom: 4vh;
  text-align: center;
}

#login-form {
  display: flex;
  justify-content: center;
  margin: 0;
}

.form-input-container {
  margin-bottom: 3em;
}

.col-12 > label {
  font-size: 1.5em;
}

#btn-login-div {
  display: flex;
  justify-content: center;
}
#login-submit {
  margin-top: 30em;
}

#btn-cancel-div {
  display: flex;
  justify-content: center;
}
#login-cancel {
  margin-top: 0.5em;
}

#move-to-register-container {
  display: flex;
  justify-content: center;
  width: inherit;
  margin-left: 0;
  margin-top: 3.5em;
}
#move-to-register-container > p {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: center;
}
