<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elice-House/main</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="./main.js" type="module" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="py-3 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
          <a
            href="/"
            class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none"
          >
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4"
              ><img
                src="../public/assets/imgs/EliceHouse_logo.png"
                style="height: 8vh"
            /></span>
          </a>
          <ul class="nav">
            <li id="login" class="nav-item">
              <a href="" class="nav-link link-dark px-2"
                ><img
                  class="header-nav-icon"
                  src="../public/assets/imgs/login.png"
                  alt="Login"
                  style="height: 2vh"
              /></a>
            </li>
            <li id="sign-up" class="nav-item">
              <a href="" class="nav-link link-dark px-2"
                ><img
                  class="header-nav-icon"
                  src="../public/assets/imgs/register.png"
                  alt="Sign Up"
                  style="height: 2vh"
              /></a>
            </li>
            <li id="cart" class="nav-item">
              <a
                href="../order-cart/order-cart.html"
                class="nav-link link-dark px-2"
                ><img
                  class="header-nav-icon"
                  src="../public/assets/imgs/cart.png"
                  alt="Cart"
                  style="height: 2vh"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="py-2 bg-light border-bottom">
        <div class="container">
          <ul
            class="nav nav-bottom justify-content-center nav-pills"
            style="list-style: none"
          >
            <!-- headertemplate로 삽입 -->
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img
              src="../public/assets/imgs/main-slide1.avif"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="../public/assets/imgs/main-slide2.avif"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../public/assets/imgs/main-slide3.avif"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </main>

    <footer class="footer">
      <!-- footertemplate로 삽입 -->
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
