/*
'em' 단위 사용을 위해 최상위 요소로 작용할 .container에 font-size를 10px
따라서 1em = 10px
*/

.container {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

#form-btn-group {
  margin-top: 5.5vh;
}

#form-btn-group a {
  text-decoration: none;
  color: #fff;
}

.col-12 > label {
  font-size: 1.5em;
}

.register-container {
  width: 40vh;
  margin-top: 20vh;
}

#register-head {
  margin-bottom: 3.5vh;
  text-align: center;
}

#register-form {
  margin: 0;
}
