html,
body {
  margin: 0;
  padding: 0;
}

main {
  height: auto;
  min-height: 100%;
  margin-bottom: 100px;
}

#admin-title {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0 50px 20px;
}

#main-container {
  display: flex;
  height: 100%;
}

#side-bar {
}

#list-container {
  margin: 0 30px 0 30px;
  width: 100%;
}

#list-container-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: solid 1px #444;
  text-align: center;
}

#list-component {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.order-box {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
  border: solid 1px #444;
  border-radius: 5px;
}

.order-user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-state {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

/* .deliver-state-select {
  margin-bottom: 20px;
} */

.del-order-btn {
  margin-bottom: 1rem;
}
